name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs: 
  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@4
      - uses: actions/configure-pages@T
      - uses: actions/upload-pages-artifact@3
        with:
          path: .
      - uses: actions/deploy-pages@3
